{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<head>
    <style>
        th {
            background-color: #2f8c6d; /* Warna latar belakang header */
        }
        tr {
            background-color: #e3f5d0; /* Warna latar belakang baris */
        }
    </style>

</head>
<body>
    <h1>Selamat datang di {{ apk }}!</h1>

    <h3>Nama : {{nama}}</h3>
    <h3>Kelas : {{kelas}}</h3>

    <h2>Kamu menyimpan {{jumlah}} item pada aplikasi ini</h2>
    <h2>Daftar Produk : </h2>
    <table border="1">
        <tr>
            <th>Nama Material</th>
            <th>Deskripsi</th>
            <th>Stok</th>
            <th>Harga</th>
            <th>Gambar Material</th>
        </tr>
        {% for product in products %}
            <tr>
                <td>{{product.name}}</td>
                <td>{{product.description}}</td>
                <td>{{product.amount}}</td>
                <td>{{product.price}}</td>
                <td><img src= "{{ product.picture }}" width="100" /></td>
            </tr>
        {% endfor %}

    </table>
    <br />

    <a href="{% url 'main:create_product' %}">
        <button>
            Add New Product
        </button>
    </a>
    </body>
</html>
{% endblock content %}